* {
  margin: 0%;
  padding: 0%;
  font-family: "Public Sans";
}

@font-face {
  font-family: "Public Sans";
  src: url("assets/PublicSans-VariableFont_wght.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
  padding-top: 39px;
}

header {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1b4f72;
  background-color: rgb(233, 232, 232);
  z-index: 10;
}

#logo {
  max-width: 80px;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}

#logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nav-link{
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.texts p {
  font-size: medium;
  font-weight: bold;
}

.texts:hover {
  color: rgb(0, 170, 255);
}

#contactDetail u:hover {
  color: rgb(5, 134, 214);
}

#contactDetail p {
  text-align: center;
}

.icon {
  padding: 10px;
  border-radius: 50%;
}

.icon:hover {
  background-color: lightblue;
}

#login {
  display: flex;
  border-radius: 20px;
  padding: 10px;
}

#login p {
  font-size: large;
  font-weight: bold;
}

#login:hover {
  background-color: lightblue;
}

#try {
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: green;
  margin-right: 20px;
  cursor: pointer;
}

#try p {
  font-weight: bold;
}

#try:hover {
  background-color: rgb(11, 91, 0);
}

.hamburger{
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}


@media (max-width:1280px) {
  .hamburger{
    display: block;
  }

  .nav-link{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 15px;
    background-color: #e6e6e6;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    width: 30%;
    z-index: 20;
  }

  .nav-link.active{
    display: flex;
  }

  .icon:hover {
    border-radius: 30px;
  }

}

#main {
  height: 100%;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto; 
}

#hero {
  display: flex;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, rgba(168, 219, 236, 0.8), rgba(120, 206, 250, 0.8));
  border-radius: 10px;
  margin-bottom: 30px;
  @media (max-width:768px) {
    flex-direction: column;
  }
}

#box1 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  gap: 20px;
  @media (max-width:768px) {
    width: 100%;
    padding: 10px 0px;
  }
}

#box1 h1 {
  font-size: 45px;
  font-weight: bolder;
  color: rgb(0, 0, 121);
  @media (max-width:768px) {
    text-align: center;
    margin-top: 40px;
  }
}

#shortIntro {
  font-size: 20px;
  font-weight: 400;
  @media (max-width:768px) {
    text-align: center;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  @media (max-width:768px) {
    justify-content: center;
  }
}

.button1 {
  display: flex;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-size: larger;
  font-weight: bold;
  background-color: rgb(47, 180, 224);
}

.button1:hover {
  background-color: #00385d;
}

.button2 {
  display: flex;
  padding: 10px;
  color: rgb(47, 180, 224);
  border-radius: 5px;
  font-size: larger;
  font-weight: 500;
  background-color: white;
  border: 2px solid rgb(47, 180, 224);
}

.button2:hover {
  background-color: rgb(217, 213, 199);
  color: rgb(0, 0, 82);
  border-color: rgb(0, 0, 82);
}

#box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
  width: 50%;
  height: auto;
  @media (max-width:768px) {
    width: 100%;
  }
}

#box2 video {
  width: 80%;
  border-radius: 15px;
}

#product-section{
  padding: 30px;
}


.section-title {
  color: #032d60;
  text-align: center;
}

#boxes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 30px;
  margin: 40px 0px;
  @media (max-width:1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width:768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.box{ 
  background: linear-gradient(to right, rgba(168, 219, 236, 0.8), rgba(120, 206, 250, 0.8));
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}

.icon-box{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.box img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.box h3{
  color: #032d60;
  font-size: large;
  cursor: pointer;
}

.box h5{
  color: #032d60;
  font-size: large;
  text-decoration: underline;
  cursor: pointer;
}

.trial-section{
  display: flex;
  margin: 0px auto;
  margin-bottom: 30px;
  width: 60%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  @media (max-width:900px) {
    width: 100%;
  }
}

.trial-section h1{
  color: #032d60;
  font-size: 40px;
  @media (max-width:768px) {
    font-size: 30px;
  }
}

.trial-section p{
  padding: 0px 20px;
  line-height: 30px;
}

.buttons2 {
  display: flex;
  gap: 20px;
  @media (max-width:768px) {
    flex-direction: column;
  }
}

.button3{
  margin: 0px auto;
  display: block;
  background-color: white;
  font-weight: bold;
  font-size: medium;
  color: #0176d3;
  border: #0176d3 solid 1px;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width:768px) {
    width: 80vw;
  }
}

.button3:hover{
  background-color: rgb(235, 233, 233);
  color: #014277;
  border-color: #014277;
}

.button4 {
  display: flex;
  margin: 0 auto;
  padding: 15px 15px;
  color: white;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
  border: none;
  justify-content: center;
  background-color: #0176d3;
  cursor: pointer;
  @media (max-width:768px) {
    width: 80vw;
  }
}